<ion-header>
  <ion-toolbar color="ju">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Navegação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-img src="https://s3-sa-east-1.amazonaws.com/engerey/uploads/artigos/engerey-artigo-127.jpg?1480618017"></ion-img>
      <ion-card-title>natalina</ion-card-title>
        <p>natal em familia</p>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="showPageNavegacao2()">Ir para página de presentes</ion-button>

</ion-content>
